.App {
  font-family: sans-serif;
  text-align: center;
}

.todo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 0.5rem;
  box-shadow: 0 1px 1px #aeaeae;
  padding: 1rem 0.5rem;
}

.todo button {
  color: #fff;
  border: none;
  margin: 0 5px;
}

.edit-btn {
  background: #555;
}

.delete-btn {
  background: red;
}

span {
  margin-left: 1rem;
}
